.add-comment.add-comment-velvet.styled.col-ss450-row
  .add-comment-title
    %h3 Edit #{resource_name.to_s.humanize}
  .comment-form
    = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
      .form-inner
        = devise_error_messages!
        .field.field_text
          = f.label :email
          %br/
          = f.email_field :email, autofocus: true
        - if devise_mapping.confirmable? && resource.pending_reconfirmation?
          %div
            Currently waiting confirmation for: #{resource.unconfirmed_email}
        .field.field_text
          = f.label :password
          %i (leave blank if you don't want to change it)
          %br/
          = f.password_field :password, autocomplete: "off"
        .field.field_text
          = f.label :password_confirmation
          %br/
          = f.password_field :password_confirmation, autocomplete: "off"
        .field.field_text
          = f.label :current_password
          %i (we need your current password to confirm your changes)
          %br/
          = f.password_field :current_password, autocomplete: "off"
      .rowSubmit
        .left
          = link_to "Back", :back
        %span.actions.btn.btn-send
          = f.submit "Update", class: 'gradient'
