- @gallery.images.each do |b|
  %table.table-striped.table-bordered.table-condensed.table-image-profile{:role => "grid"}
    %tr
      %td= attachment_image_tag(b, :file, :fill, 300, 400, fallback: "default300x400.png", class: 'image_uploaded')
    %tr
      %td= b.description
    %tr
      %td= link_to 'edit image', edit_image_path(b)
%table.table-striped.table-bordered.table-condensed.table-user-profile{:role => "grid"}
  %tr
    %td{:scope => "row"} Name
    %td= @gallery.name
  %tr
    %td{:scope => "row"} Description
    %td= @gallery.description
  %tr
    %td{:scope => "row"} Color
    %td
      .color_square{style: "background-color: #{Color.find(@gallery.color_id).color_gid};"}
  %tr
    %td{:scope => "row"} Fabric
    %td= attachment_image_tag(Fabric.find(@gallery.fabric_id), :image, :fill, 300, 300, fallback: "default300x300.png")
  %tr
    %td{:scope => "row"}
    %td
      = bootstrap_icon_link_to t(:_edit), edit_gallery_path(@gallery), "glyphicon glyphicon-pencil icon-white", :class => "button btn btn-small btn-primary"
      - if current_user.is_admin
        = bootstrap_icon_link_to t(:_delete), @gallery, "glyphicon glyphicon-trash icon-white", confirm: 'Are you sure?', method: :delete, :class => "button btn btn-small btn-danger"
