= form_for(@image) do |f|
  - if @image.errors.any?
    .alert.alert-error
      %b
        = pluralize(@image.errors.count, "error")
        prohibited this image from being saved:
      %ul
        - @image.errors.full_messages.each do |msg|
          %li= msg
  %table.table-striped.table-bordered.table-condensed.table-user-form{:role => "grid"}
    %tr
      %td{:scope => "row"}= f.label :title
      %td= f.text_field :title, class: "name_field"
    %tr
      %td{:scope => "row"}= f.label :description
      %td= f.text_area :description, class: "name_field"
    %tr
      %td{:scope => "row"}= f.label :category
      %td= f.collection_select :category_id, Category.all, :id, :name, {:selected => session["category"]}
    %tr
      %td{:scope => "row"}= f.label :file
      %td
        = f.attachment_field :file, direct: true, presigned: true, class: 'file_uploader'
        .image_box
          = attachment_image_tag(@image, :file, :fill, 400, 300, fallback: "default400x300.png", class: 'image_uploaded')
    %tr
      %td= bootstrap_icon_link_to t(:_cansel), images_path, 'glyphicon glyphicon-time icon-white', :class => "button btn btn-warning"
      %td= f.submit :class => "button btn btn-success"
:javascript
  $('.file_uploader').on('change', function(){
    src = URL.createObjectURL(this.files[0]);
    $('.image_box img').attr('src', src);
  });